In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import json
import os
import re
import requests
from bs4 import BeautifulSoup
import tweepy
import config
import timeit
import datetime
from datetime import date as dt
import matplotlib.pyplot as plt

In [3]:
#read and preview dataset
twitter_archive=pd.read_csv('twitter_archive_enhanced.csv')
twitter_archive.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None

In [16]:
if True:
    def notrification(x,y,z):
        x=pulled_tweet_ids
        y=tweet_ids
        z=error_log
        print('Successful pulls: {}'. format(len(x)))
        print("Tweet IDs left to complete: {}".format(len(y)-(len(x)+len(z))))
        print("Failed attempts: {}".format(len(z)))
        
    # authenticate
    auth = tweepy.OAuthHandler(config.consumer_key, config.consumer_secret)
    auth.set_access_token(config.access_token, config.access_secret)
    #get the user object for twitter
    api = tweepy.API(auth,wait_on_rate_limit=True,parser=tweepy.parsers.JSONParser())
    #get list of all tweet IDs
    tweet_ids=twitter_archive.tweet_id.sort_values().to_list()
    count=0
    pulled_tweet_ids=[]
    error_log=[]
    start = timeit.timeit()
    with open('complementary_tweet_archive.json','w') as file:
        for tweet_id in tweet_ids[:5]:
            try:
                tweet = api.get_status(tweet_id)
                json.dump(tweet,file)
                dict={
                "tweet_id":tweet['id'],
                "favorite_count":tweet['favorite_count'],
                "retweet_count":tweet['retweet_count']
                }
                pulled_tweet_ids.append(dict)
                if len(pulled_tweet_ids)%500==0:
                    #print out summary
                    notrification(x=pulled_tweet_ids,y=tweet_ids,z=error_log)
                    print(50*'-')
                
            except Exception as e:
                error={
                "tweet_id":tweet_id,
                "reason":e
                }
                error_log.append(error)
                print("{} encountered this error: ".format(tweet_id),e)
            
            

    #print out summary
    notrification(x=pulled_tweet_ids,y=tweet_ids,z=error_log)
    end = timeit.timeit()
    time_spent=(end - start)
    print("Time spent:{}secs".format(time_spent))

Successful pulls: 5
Tweet IDs left to complete: 2351
Failed attempts: 0
Time spent:0.0008927999999741587secs

In [18]:
api_pulled_df=pd.read_csv("complementary_tweet_archive.csv")

In [20]:
twitter_archive=pd.read_csv('twitter_archive_enhanced.csv')

In [27]:
df=twitter_archive

In [28]:
df.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

In [40]:
df.expanded_urls.value_counts(dropna=False).to_list()[0]

59

In [44]:
df=pd.read_csv("test.csv")

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2097 entries, 0 to 2096
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          2097 non-null   int64
 1   tweet_id            2097 non-null   int64
 2   timestamp           2097 non-null   object
 3   text                2097 non-null   object
 4   source              2097 non-null   object
 5   tweet_url           2094 non-null   object
 6   hashtag             2097 non-null   object
 7   rating_numerator    2097 non-null   int64
 8   rating_denominator  2097 non-null   int64
 9   name                2097 non-null   object
 10  dog_stage           2097 non-null   object
dtypes: int64(4), object(7)
memory usage: 180.3+ KB

In [47]:
df.head(1)

,Unnamed: 0,tweet_id,timestamp,text,source,tweet_url,hashtag,rating_numerator,rating_denominator,name,dog_stage
0,0,892420643555336193,2017-08-01 16:23:56 +0000,This is Phineas. He's a mystical boy. Only eve...,"<a href=""http://twitter.com/download/iphone"" r...",https://t.co/MgUWQ76dJU,unhashtaged,13,10,Phineas,unclassified

In [48]:
anchor_tag_contents=[]
#collect contents from anchor tags
for link in twitter_archive['source']:
    soup=BeautifulSoup(link)
    row=soup.find('a').text
    anchor_tag_contents.append(row)
 #convert to pandas series   
twitter_feature=pd.Series(anchor_tag_contents)

#substute text in source for text in tags
archive_tweet_clean.loc[:,"source"]=anchor_tag_contents

NameError: name 'archive_tweet_clean' is not defined

In [50]:
df.source[]

'<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>'

In [53]:
df['name']=df['name'].str.title()

In [54]:
df.name

0        Phineas
1          Tilly
2         Archie
3          Darla
4       Franklin
          ...
2092        None
2093           A
2094           A
2095           A
2096        None
Name: name, Length: 2097, dtype: object